.admin__page-nav-title strong:before {
    background-image: url("Omniful_Core::images/logo.svg");
    background-repeat: no-repeat;
    background-size: auto 20px;
    content: '';
    padding-left: 25px;
}
