<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Omniful\Integration\Api\ApiServiceInterface" type="Omniful\Integration\Model\ApiService"/>
    <preference for="Omniful\Integration\Api\AdminTokenServiceInterface" type="Omniful\Integration\Model\AdminTokenService" />
</config>