<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- STORE -->
    <preference for="Omniful\Core\Api\Store\InfoInterface" type="Omniful\Core\Model\Store\Info" />

    <!-- SALES -->
    <preference for="Omniful\Core\Api\Sales\OrderInterface" type="Omniful\Core\Model\Sales\Order" />
    <preference for="Omniful\Core\Api\Sales\CancelInterface" type="Omniful\Core\Model\Sales\Cancel" />
    <preference for="Omniful\Core\Api\Sales\RefundInterface" type="Omniful\Core\Model\Sales\Refund" />
    <preference for="Omniful\Core\Api\Sales\StatusInterface" type="Omniful\Core\Model\Sales\Status" />
    <preference for="Omniful\Core\Api\Sales\ShipmentInterface" type="Omniful\Core\Model\Sales\Shipment" />

    <!-- CATALOG -->
    <preference for="Omniful\Core\Api\Catalog\ProductInterface" type="Omniful\Core\Model\Catalog\Product" />
    <preference for="Omniful\Core\Api\Catalog\CategoryInterface" type="Omniful\Core\Model\Catalog\Category" />

    <!-- Update Config -->
    <preference for="Omniful\Core\Api\Config\ConfigurationsInterface" type="Omniful\Core\Model\Config\ConfigurationsManagement" />

    <!-- STOCK SOURCE -->
    <preference for="Omniful\Core\Api\Stock\StockSourcesInterface" type="Omniful\Core\Model\Stock\StockSources" />

    <!--    RMA-->
    <preference for="Omniful\Core\Api\ReturnOrder\RmaRepositoryInterface" type="Omniful\Core\Model\ReturnOrder\Rma" />

    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin disabled="false" name="disable_widget_ship_button" sortOrder="10" type="Omniful\Core\Plugin\Backend\Block\Widget\Button\Toolbar"/>
    </type>

    <type name="Omniful\Core\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Omniful\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">omnifulCoreLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Omniful\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Omniful\Core\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Omniful\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">omnifulCoreLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Omniful\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>

