<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- rma Place After -->
    <event name="rma_save_after">
        <observer name="omnifull_save_after" instance="Omniful\Core\Observer\Rma\RmaSaveAfter" />
    </event>
</config>
