<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- New Order Placed -->
     <event name="sales_order_save_commit_after">
         <observer name="yesss" instance="Omniful\Core\Observer\Sales\OrderPlaceAfter" />
    </event>

    <!-- Order Cancelled -->
    <event name="sales_order_cancel_after">
        <observer name="adminhtml_omniful_handle_sales_order_cancel_after" instance="Omniful\Core\Observer\Sales\OrderCancelAfter" />
    </event>

</config>
